{% extends 'website/base/base_admin.html' %}
{% load static %}
{% load assign %}

{% block content %}
  {% if object.id %}
    {% url 'website.easy_setup.dhcp.options.create' tag=object.id as url_create %}
    {% assign 'website.easy_setup.dhcp.options.enable' as url_enable %}
    {% assign 'website.easy_setup.dhcp.options.disable' as url_disable %}
  {% endif %}
  {% assign 'website/dhcp/options/list_detail.html' as list_detail_include %}
  {% include 'website/includes/crud/records_list.html' with title='DHCP option' %}
    <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <input type="hidden" name="name" value="{{ DEFAULT_TAG_NAME }}">
                {% assign None as url_cancel %}
                {% assign None as url_delete %}
                {% include 'website/includes/crud/toolbar_detail.html' %}
            </form>
        </div>
    </div>
{% endblock %}