{% extends 'website/base/base_admin.html' %}
{% load static %}

{% block content %}
    {% include 'website/includes/dashboard/section_header.html' with has_splitter=False title='System configuration' %}
    <div class="row">
        {% url 'website.users.list' as destination_url %}
        {% include 'website/includes/dashboard/section_card.html' with title='Users' items=users url=destination_url tint='success' icon='fa-user' %}

        {% url 'website.settings.list' as destination_url %}
        {% include 'website/includes/dashboard/section_card.html' with title='Settings' items=settings url=destination_url tint='success' icon='fa-bolt' %}
    </div>

    {% include 'website/includes/dashboard/section_header.html' with has_splitter=True title='Server configuration' %}
    <div class="row">
        {% url 'website.options.list' as destination_url %}
        {% include 'website/includes/dashboard/section_card.html' with title='Options' items=options url=destination_url tint='info' icon='fa-cogs' %}

        {% url 'website.interfaces.list' as destination_url %}
        {% include 'website/includes/dashboard/section_card.html' with title='Interfaces' items=interfaces url=destination_url tint='info' icon='fa-network-wired' %}

        {% url 'website.listen_addresses.list' as destination_url %}
        {% include 'website/includes/dashboard/section_card.html' with title='Listening addresses' items=listen_addresses url=destination_url tint='info' icon='fa-signal' %}

        {% url 'website.domains.list' as destination_url %}
        {% include 'website/includes/dashboard/section_card.html' with title='Domains' items=domains url=destination_url tint='info' icon='fa-city' %}
    </div>
    <div class="row">
        {% url 'website.dhcp_hosts.list' as destination_url %}
        {% include 'website/includes/dashboard/section_card.html' with title='DHCP hosts' items=dhcp_hosts url=destination_url tint='primary' icon='fa-laptop' %}
        {% url 'website.dhcp_options.list' as destination_url %}
        {% include 'website/includes/dashboard/section_card.html' with title='DHCP options' items=dhcp_options url=destination_url tint='primary' icon='fa-toggle-on' %}
        {% url 'website.dhcp_option_ipv4.list' as destination_url %}
        {% include 'website/includes/dashboard/section_card.html' with title='DHCP option IPv4 addresses' items=dhcp_option_ipv4 url=destination_url tint='primary' icon='fa-exchange-alt' %}
        {% url 'website.dhcp_option_types.list' as destination_url %}
        {% include 'website/includes/dashboard/section_card.html' with title='DHCP option types' items=dhcp_option_types url=destination_url tint='primary' icon='fa-shapes' %}
        {% url 'website.dhcp_ranges.list' as destination_url %}
        {% include 'website/includes/dashboard/section_card.html' with title='DHCP ranges' items=dhcp_ranges url=destination_url tint='primary' icon='fa-sliders-h' %}
        {% url 'website.dhcp_tags.list' as destination_url %}
        {% include 'website/includes/dashboard/section_card.html' with title='DHCP tags' items=dhcp_tags url=destination_url tint='primary' icon='fa-tags' %}
    </div>
{% endblock %}
