{% extends 'website/base/base_admin.html' %}
{% load static %}

{% block content %}
    {% include 'website/includes/dashboard/section_header.html' with has_splitter=False title='System configuration' %}
    <div class="row">
        {% url 'website.users.list' as destination_url %}
        {% include 'website/includes/dashboard/section_card.html' with title='Users' items=users url=destination_url tint='success' %}
    </div>

    {% include 'website/includes/dashboard/section_header.html' with has_splitter=True title='Server settings' %}
    <div class="row">
        {% url 'website.actions.list' as destination_url %}
        {% include 'website/includes/dashboard/section_card.html' with title='Actions' items=actions url=destination_url tint='primary' %}

        {% url 'website.options.list' as destination_url %}
        {% include 'website/includes/dashboard/section_card.html' with title='Options' items=options url=destination_url tint='primary' %}
    </div>

    {% include 'website/includes/dashboard/section_header.html' with has_splitter=True title='DNSmasq components' %}
    <div class="row">
        {% url 'website.interfaces.list' as destination_url %}
        {% include 'website/includes/dashboard/section_card.html' with title='Interfaces' items=interfaces url=destination_url tint='primary' %}

        {% url 'website.listen_addresses.list' as destination_url %}
        {% include 'website/includes/dashboard/section_card.html' with title='Listening addresses' items=listen_addresses url=destination_url tint='primary' %}

        {% url 'website.domains.list' as destination_url %}
        {% include 'website/includes/dashboard/section_card.html' with title='Domains' items=domains url=destination_url tint='primary' %}
    </div>
    <div class="row">
        {% url 'website.dhcp_ranges.list' as destination_url %}
        {% include 'website/includes/dashboard/section_card.html' with title='DHCP ranges' items=dhcp_ranges url=destination_url tint='primary' %}
    </div>
{% endblock %}
