{% extends 'website/base/base_admin.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">DHCP option details</h6>
                </div>
                <div class="card-body">
                    <!-- Tag -->
                    <div class="row">
                        <div class="col-sm-2 col-form-label">Tag</div>
                        <div class="col-sm-2">{{ object.tag }}</div>
                    </div>
                    <!-- Option -->
                    <div class="row">
                        <div class="col-sm-2 col-form-label">Option</div>
                        <div class="col-sm-2">{{ object.option }}</div>
                    </div>
                    <!-- Description -->
                    <div class="row">
                        <div class="col-sm-2 col-form-label">Description</div>
                        <div class="col-sm-2">{{ object.description }}</div>
                    </div>
                </div>
            </div>
  {% if mode == easy_setup %}
            {% url 'website.easy_setup.dhcp_options.detail' pk=object.pk as destination_url %}
  {% else %}
            {% url 'website.dhcp_options.detail' pk=object.pk as destination_url %}
  {% endif %}
            {% include 'website/includes/crud/toolbar_delete.html' with url=destination_url %}
        </div>
    </div>
{% endblock %}