{% extends 'website/base/base_admin.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-primary">DHCP option details</h6>
                    </div>
                    <div class="card-body">
                        <!-- Tag -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.tag.id_for_label }}" class="col-form-label">{{ form.tag.label }}</label>
                            </div>
                            <div class="col">{{ form.tag }}</div>
  {# Add a hidden field when the tag was pre-selected as disabled fields won't be submitted #}
  {% if mode == easy_setup %}
                            <input type="hidden" name="{{ form.tag.name }}" value="{{ form.tag.value }}">
  {% endif %}
                            <div class="col">{{ form.tag.errors }}</div>
                        </div>
                        <!-- Option -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.option.id_for_label }}" class="col-form-label">{{ form.option.label }}</label>
                            </div>
                            <div class="col">{{ form.option }}</div>
  {# Add a hidden field when the tag was pre-selected as disabled fields won't be submitted #}
  {% if mode == easy_setup and form.option.value %}
                            <input type="hidden" name="{{ form.option.name }}" value="{{ form.option.value }}">
  {% endif %}
                            <div class="col">{{ form.option.errors }}</div>
                        </div>
                        <!-- Description -->
                        <div class="row row-item-textarea">
                            <div class="col-sm-2">
                                <label for="{{ form.description.id_for_label }}" class="col-form-label">{{ form.description.label }}</label>
                            </div>
                            <div class="col col-textarea">{{ form.description }}</div>
                            <div class="col">{{ form.description.errors }}</div>
                        </div>
  {# Hide the character value field in easy setup mode for non character fields #}
  {% if mode == easy_setup and object.option.is_type_character or not object or not mode %}
                        <!-- Character value -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.character_value.id_for_label }}" class="col-form-label">{{ form.character_value.label }}</label>
                            </div>
                            <div class="col">{{ form.character_value }}</div>
                            <div class="col">{{ form.character_value.errors }}</div>
                        </div>
  {% endif %}
  {# Hide the numeric value field in easy setup mode for non numeric fields #}
  {% if mode == easy_setup and object.option.is_type_numeric or not object or not mode %}
                        <!-- Numeric value -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.numeric_value.id_for_label }}" class="col-form-label">{{ form.numeric_value.label }}</label>
                            </div>
                            <div class="col">{{ form.numeric_value }}</div>
                            <div class="col">{{ form.numeric_value.errors }}</div>
                        </div>
  {% endif %}
  {# Hide the boolean value field in easy setup mode for non boolean fields #}
  {% if mode == easy_setup and object.option.is_type_boolean and object %}
                        <!-- Boolean value -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label class="col-form-label">{{ form.numeric_value.label }}</label>
                            </div>
                            <div class="col-sm-1">
                                <input id="{{ form.numeric_value.id_for_label }}_0"
                                       name="{{ form.numeric_value.name }}"
                                       type="radio"
                                       {% if form.numeric_value.value == 0 %}checked="checked"{% endif %}
                                       value="0">
                                <label for="{{ form.numeric_value.id_for_label }}_0" class="col-form-label">Off</label>
                            </div>
                            <div class="col-sm-1">
                                <input id="{{ form.numeric_value.id_for_label }}_1"
                                       name="{{ form.numeric_value.name }}"
                                       type="radio"
                                       {% if form.numeric_value.value != 0 %}checked="checked"{% endif %}
                                       value="1">
                                <label for="{{ form.numeric_value.id_for_label }}_1" class="col-form-label">On</label>
                            </div>
                            <div class="col-sm">{{ form.numeric_value.errors }}</div>
                        </div>
  {% endif %}
                        <!-- Forced -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.forced.id_for_label }}" class="col-form-label">{{ form.forced.label }}</label>
                            </div>
                            <div class="col">{{ form.forced }}</div>
                            <div class="col">{{ form.forced.errors }}</div>
                        </div>
                        <!-- Order -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.order.id_for_label }}" class="col-form-label">{{ form.order.label }}</label>
                            </div>
                            <div class="col">{{ form.order }}</div>
                            <div class="col">{{ form.order.errors }}</div>
                        </div>
                        <!-- Active status -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.is_active.id_for_label }}" class="col-form-label">{{ form.is_active.label }}</label>
                            </div>
                            <div class="col">{{ form.is_active }}</div>
                            <div class="col">{{ form.is_active.errors }}</div>
                        </div>
                    </div>
  {% if mode == easy_setup and object.option.is_type_ipv4_address %}
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-primary">Related IP addresses
    {% if object.dhcpoptionipv4_set.all.count < object.get_expected_ipv4_addresses_count %}
                            <a href="{% url 'website.easy_setup.dhcp.option_ipv4.create' pk=object.pk %}" class="btn btn-primary btn-sm float-right">
                                <i class="fas fa-fw fa-plus"></i>
                                Create new DHCP option IPv4
                            </a>
    {% endif %}
                        </h6>
                    </div>
                    <div class="card-body">
    {% for item in object.dhcpoptionipv4_set.all %}
                        <div class="row row-item-label">
                            <div class="col-sm-2">IPv4 Address {{ forloop.counter }}</div>
                            <div class="col">
                                <label class="col-form-label">
                                    <a href="{% url 'website.easy_setup.dhcp.option_ipv4.detail' pk=item.id %}">{{ item.address }}</a>
                                </label>
                            </div>
                        </div>
      {% if not forloop.last %}
                        <hr />
      {% endif %}
    {% endfor %}
                    </div>
  {% endif %}
                </div>
  {% if mode == easy_setup %}
                {% url 'website.easy_setup.dhcp.default_options' as url_cancel %}
                {% url 'website.easy_setup.dhcp.options.delete' pk=object.pk as url_delete %}
  {% else %}
                {% url 'website.dhcp.options.list' as url_cancel %}
                {% url 'website.dhcp.options.delete' pk=object.pk as url_delete %}
  {% endif %}
                {% include 'website/includes/crud/toolbar_detail.html' %}
            </form>
        </div>
    </div>
{% endblock %}