{% extends 'website/includes/crud/records_list_detail.html' %}
{% load get_option_type_name %}

{% block column_order %}
  {% if item.tag.order is not None %}
    {# When mode is not set hide the tag order #}
    {% if not mode %}
                        <div class="col-xs bg-gradient-primary text-white"><strong>&nbsp;{{ item.tag.order }}&nbsp;</strong></div>
                        &nbsp;&gt;&nbsp;
    {% endif %}
                        <div class="col-xs bg-gradient-primary text-white"><strong>&nbsp;{{ item.order }}&nbsp;</strong></div>
  {% endif %}
{% endblock %}

{% block column_first %}
  {# When mode is set the first column will keep the option #}
  {% if mode == easy_setup %}
                            <strong><a href="{% url 'website.easy_setup.dhcp.options.detail' pk=item.pk %}">{{ item.option }}</a></strong>
  {% else %}
                            <strong><a href="{% url 'website.dhcp.options.detail' pk=item.pk %}">{{ item.tag }}</a></strong>
  {% endif %}
{% endblock %}

{% block column_middle %}
  {# When mode is set the first column will keep the option, so this is not needed #}
  {% if not mode %}
                            <div class="col-sm-2">
                                {{ item.option }}
                            </div>
  {% endif %}
                            <div class="col-sm-2">
                                {{ item.option.type | get_option_type_name }}
                            </div>
{% endblock %}
