{% extends 'website/includes/crud/records_list_detail.html' %}
{% load get_option_type_name %}

{% block column_order %}
  {% if item.tag.order is not None %}
                        <div class="col-xs bg-gradient-primary text-white"><strong>&nbsp;{{ item.tag.order }}&nbsp;</strong></div>
                        &nbsp;&gt;&nbsp;
                        <div class="col-xs bg-gradient-primary text-white"><strong>&nbsp;{{ item.order }}&nbsp;</strong></div>
  {% endif %}
{% endblock %}

{% block column_first %}
                            <strong><a href="{% url 'website.dhcp_options.detail' pk=item.pk %}">{{ item.tag }}</a></strong>
{% endblock %}

{% block column_middle %}
                            <div class="col-sm-2">
                                {{ item.option }}
                            </div>
                            <div class="col-sm-2">
                                {{ item.option.type | get_option_type_name }}
                            </div>
{% endblock %}
