{% load static %}
            <!-- Sidebar - Brand -->
            <a href="{% url 'website.home' %}" class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="sidebar-brand-icon rotate-n-15">
                    <img src="{% static 'website/img/logo.svg' %}">
                </div>
                <div class="sidebar-brand-text mx-3" title="v{{ app_version }}">{{ app_name }}</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item{% if request_name == 'website.home' %} active{% endif %}">
                <a href="{% url 'website.home' %}" class="nav-link">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                System configuration
            </div>

            <!-- Nav Item - Users -->
            <li class="nav-item{% if request_name == 'website.users.list' %} active{% endif %}">
                <a class="nav-link" href="{% url 'website.users.list' %}">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Users</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Server configuration
            </div>

            <!-- Nav Item - Settings menu -->
{% with settings_list='website.actions.list|website.options.list' %}
            <li class="nav-item{% if request_name in settings_list %} active{% endif %}">
                <a class="nav-link{% if request_name not in settings_list %} collapsed{% endif %}" href="#" data-toggle="collapse" data-target="#collapse1">
                    <i class="fas fa-fw fa-cogs"></i>
                    <span>Settings</span>
                </a>
                <div id="collapse1" class="collapse {% if request_name in settings_list %}show{% endif %}" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Server settings:</h6>
                        <a class="collapse-item{% if request_name == 'website.actions.list' %} active{% endif %}" href="{% url 'website.actions.list' %}">Actions</a>
                        <a class="collapse-item{% if request_name == 'website.options.list' %} active{% endif %}" href="{% url 'website.options.list' %}">Options</a>
                    </div>
                </div>
            </li>
{% endwith %}

            <!-- Nav Item - DNSmasq menu -->
{% with settings_list='website.interfaces.list|website.listen_addresses.list' %}
            <li class="nav-item{% if request_name in settings_list %} active{% endif %}">
                <a class="nav-link{% if request_name not in settings_list %} collapsed{% endif %}" href="#" data-toggle="collapse" data-target="#collapse2">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Components</span>
                </a>
                <div id="collapse2" class="collapse {% if request_name in settings_list %}show{% endif %}" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">DNSmasq components:</h6>
                        <a class="collapse-item{% if request_name == 'website.interfaces.list' %} active{% endif %}" href="{% url 'website.interfaces.list' %}">Interfaces</a>
                        <a class="collapse-item{% if request_name == 'website.listen_addresses.list' %} active{% endif %}" href="{% url 'website.listen_addresses.list' %}">Listening addresses</a>
                    </div>
                </div>
            </li>
{% endwith %}

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
