{% load static %}
<!DOCTYPE html>
<html>
  <head>
{% block header_begin %}{% endblock %}
{% block header_title %}
    <title>{{ page_title }}</title>
{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block header_css %}
    {% include 'website/includes/bootstrap.html' with type='css' %}
    <!-- Custom styles -->
    <link href="{% static 'website/styles.css' %}" rel="stylesheet">
{% endblock %}
{% block header_js %}
{% endblock %}
{% block header_end %}{% endblock %}
  </head>

  <body>
{% block body %}
    <div class="page-content">
      <div class="row">
        <div class="col-md-10">
  {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  {% block footer_begin %}{% endblock %}
  {% block footer_css %}
  {% endblock %}
  {% block footer_js %}
    {% include 'website/includes/jquery.html' with type='js' %}
    {% include 'website/includes/bootstrap.html' with type='js' %}
  {% endblock %}
  {% block footer_end %}{% endblock %}
{% endblock %}
  </body>
</html>