{% load static %}
            <!-- Sidebar - Brand -->
            <a href="{% url 'website.home' %}" class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="sidebar-brand-icon rotate-n-15">
                    <img src="{% static 'website/img/logo.svg' %}">
                </div>
                <div class="sidebar-brand-text mx-3" title="v{{ app_version }}">{{ app_name }}</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item{% if request_name == 'website.home' %} active{% endif %}">
                <a href="{% url 'website.home' %}" class="nav-link">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Server configuration
            </div>

            <!-- Nav Item - DNSmasq components menu -->
{% with settings_list='website.options.list|website.interfaces.list|website.listen_addresses.list|website.domains.list' %}
            <li class="nav-item{% if request_name in settings_list %} active{% endif %}">
                <a class="nav-link{% if request_name not in settings_list %} collapsed{% endif %}" href="#" data-toggle="collapse" data-target="#collapse2">
                    <i class="fas fa-fw fa-cubes"></i>
                    <span>Settings</span>
                </a>
                <div id="collapse2" class="collapse {% if request_name in settings_list %}show{% endif %}" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">DNSmasq components</h6>
                        <a class="collapse-item{% if request_name == 'website.options.list' %} active{% endif %}" href="{% url 'website.options.list' %}">Options</a>
                        <a class="collapse-item{% if request_name == 'website.interfaces.list' %} active{% endif %}" href="{% url 'website.interfaces.list' %}">Interfaces</a>
                        <a class="collapse-item{% if request_name == 'website.listen_addresses.list' %} active{% endif %}" href="{% url 'website.listen_addresses.list' %}">Listening addresses</a>
                        <a class="collapse-item{% if request_name == 'website.domains.list' %} active{% endif %}" href="{% url 'website.domains.list' %}">Domains</a>
                    </div>
                </div>
            </li>
{% endwith %}

            <!-- Nav Item - DNSmasq DHCP menu -->
{% with settings_list='website.dhcp_hosts.list|website.dhcp_options.list|website.dhcp_option_ipv4.list|website.dhcp_option_types.list|website.dhcp_ranges.list|website.dhcp_tags.list' %}
            <li class="nav-item{% if request_name in settings_list %} active{% endif %}">
                <a class="nav-link{% if request_name not in settings_list %} collapsed{% endif %}" href="#" data-toggle="collapse" data-target="#collapse3">
                    <i class="fas fa-fw fa-atlas"></i>
                    <span>DHCP setup</span>
                </a>
                <div id="collapse3" class="collapse {% if request_name in settings_list %}show{% endif %}" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">DHCP configuration</h6>
                        <a class="collapse-item{% if request_name == 'website.dhcp_hosts.list' %} active{% endif %}" href="{% url 'website.dhcp_hosts.list' %}">Hosts</a>
                        <a class="collapse-item{% if request_name == 'website.dhcp_options.list' %} active{% endif %}" href="{% url 'website.dhcp_options.list' %}">Options</a>
                        <a class="collapse-item{% if request_name == 'website.dhcp_option_ipv4.list' %} active{% endif %}" href="{% url 'website.dhcp_option_ipv4.list' %}">Options IPv4 addresses</a>
                        <a class="collapse-item{% if request_name == 'website.dhcp_option_types.list' %} active{% endif %}" href="{% url 'website.dhcp_option_types.list' %}">Option types</a>
                        <a class="collapse-item{% if request_name == 'website.dhcp_ranges.list' %} active{% endif %}" href="{% url 'website.dhcp_ranges.list' %}">Ranges</a>
                        <a class="collapse-item{% if request_name == 'website.dhcp_tags.list' %} active{% endif %}" href="{% url 'website.dhcp_tags.list' %}">Tags</a>
                    </div>
                </div>
            </li>
{% endwith %}

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Easy Setup menu -->
{% with settings_list='website.easy_setup.dhcp_default_policy' %}
            <li class="nav-item{% if request_name in settings_list %} active{% endif %}">
                <a class="nav-link{% if request_name not in settings_list %} collapsed{% endif %}" href="#" data-toggle="collapse" data-target="#collapse4">
                    <i class="fas fa-fw fa-pencil-alt"></i>
                    <span>Easy setup</span>
                </a>
                <div id="collapse4" class="collapse {% if request_name in settings_list %}show{% endif %}" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">DHCP configuration</h6>
                        <a class="collapse-item{% if request_name == 'website.easy_setup.dhcp_default_policy' %} active{% endif %}" href="{% url 'website.easy_setup.dhcp_default_policy' %}">Default policy</a>
                    </div>
                </div>
            </li>
{% endwith %}

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Tools
            </div>

            <!-- Nav Item - Display Configuration -->
            <li class="nav-item{% if request_name == 'website.configuration.display' %} active{% endif %}">
                <a class="nav-link" href="{% url 'website.configuration.display' %}">
                    <i class="fas fa-fw fa-file-import"></i>
                    <span>Display configuration</span></a>
            </li>

            <!-- Nav Item - Export Configuration -->
            <li class="nav-item{% if request_name == 'website.configuration.export' %} active{% endif %}">
                <a class="nav-link" href="{% url 'website.configuration.export' %}">
                    <i class="fas fa-fw fa-file-export"></i>
                    <span>Export configuration</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                System configuration
            </div>

            <!-- Nav Item - Users -->
            <li class="nav-item{% if request_name == 'website.users.list' %} active{% endif %}">
                <a class="nav-link" href="{% url 'website.users.list' %}">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Users</span></a>
            </li>

            <!-- Nav Item - Settings -->
            <li class="nav-item{% if request_name == 'website.settings.list' %} active{% endif %}">
                <a class="nav-link" href="{% url 'website.settings.list' %}">
                    <i class="fas fa-fw fa-bolt"></i>
                    <span>Settings</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
