{% extends 'website/base/base_admin.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">DHCP tag details</h6>
                </div>
                <div class="card-body">
                    <!-- Name -->
                    <div class="row row-item-label">
                        <div class="col-sm-2 col-form-label">Name</div>
                        <div class="col">{{ object.name }}</div>
                    </div>
                    <!-- Description -->
                    <div class="row row-item-label">
                        <div class="col-sm-2 col-form-label">Description</div>
                        <div class="col">{{ object.description }}</div>
                    </div>
                </div>
            </div>
  {% if mode == easy_setup %}
            {% url 'website.easy_setup.dhcp.tags.detail' pk=object.pk as url_cancel %}
  {% else %}
            {% url 'website.dhcp.tags.detail' pk=object.pk as url_cancel %}
  {% endif %}
            {% include 'website/includes/crud/toolbar_delete.html' %}
        </div>
    </div>
{% endblock %}