{% extends 'website/base/base_admin.html' %}
{% load assign %}

{% block content %}
      <div class="row">
        <div class="col">
            <div class="card shadow mb-4 border-left-success">
                <div class="card-header">
                    <div class="row">
                        <h4 class="col-sm m-0 font-weight-bold text-primary">Current status:
                          <span class="fa {{ is_active | yesno:'fa-play,fa-stop' }}"></span>
                          {{ is_active | yesno:'Running,Stopped' }}</h4>
                    </div>
                </div>
                <div class="card-body">
                  <h4>Server control actions</h4>
                  <div class="col-sm-3">
                    <div class="row row-item-record mb-3">
                      <a href="{% url 'website.tools.server.start' %}" class="btn btn-success">
                        <span class="fa fa-play"></span> Start</a>
                      &nbsp;
                      <a href="{% url 'website.tools.server.stop' %}" class="btn btn-danger">
                        <span class="fa fa-stop"></span> Stop</a>
                      &nbsp;
                      <a href="{% url 'website.tools.server.restart' %}" class="btn btn-warning">
                        <span class="fa fa-play"></span> Restart</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
