{% extends 'website/base/base_admin.html' %}
{% load static %}

{% block content %}
    <!-- Create new option -->
    <div class="mb-4">
        <a class="btn btn-primary" href="{% url 'website.options.create' %}">Create new option</a>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Active Options</h6>
                </div>
                <div class="card-body">
  {% for item in object_list %}
    {% if item.is_active %}
      {% include 'website/includes/options/list_detail.html' with item=item %}
    {% endif %}
  {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Inactive Options</h6>
                </div>
                <div class="card-body">
  {% for item in object_list %}
    {% if not item.is_active %}
      {% include 'website/includes/options/list_detail.html' with item=item %}
    {% endif %}
  {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}