body{
  background-color: #e9ecef;
}

.login-form{
    padding: 50px 0;
}

.login-form form{
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.login-form .form-icon{
	text-align: center;
    background-color: #5891ff;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
}

.login-form .item{
	border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.login-form .login-button{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
    margin-top: 20px;
    width: 100%;
}

div.sidebar-brand-text {
    text-transform: none;
}

div.col-enable-disable,
div.col-order {
    padding-right: 0.75rem;
}

div.row-item-field,
div.row-item-label,
div.row-item-record {
    align-items: center !important;
}

div.row-item-textarea div.col-textarea {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

div.item-order {
    width: 3rem;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid transparent;
    padding: .375rem;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    border-radius: .35rem;
}

@media (max-width: 576px) {
    .login-form form{
        padding: 50px 20px;
    }

    .login-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}
