{% extends 'website/base/base_admin.html' %}
{% load static %}
{% load get_option_type_name %}

{% block content %}
  {% url 'website.dhcp_options.create' as destination_url_create %}
  {% include 'website/includes/crud/records_list.html' with create_url=destination_url_create title='DHCP option' list_detail_include='website/dhcp_options/list_detail.html' %}
    <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% include 'website/includes/crud/toolbar_detail.html' with url_cancel=None url_delete=None %}
            </form>
        </div>
    </div>
{% endblock %}