{% extends 'website/base/base_admin.html' %}
{% load static %}
{% load assign %}

{% block content %}
  {% if object.id %}
    {% url 'website.easy_setup.dhcp.options.create' as create_url %}
  {% endif %}
  {% assign 'website/dhcp_options/list_detail.html' as list_detail_include %}
  {% include 'website/includes/crud/records_list.html' with title='DHCP option' %}
    <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <input type="hidden" name="name" value="{{ tag_name }}">
                {% include 'website/includes/crud/toolbar_detail.html' with url_cancel=None url_delete=None %}
            </form>
        </div>
    </div>
{% endblock %}