{% extends 'website/base/base_admin.html' %}
{% load static %}
{% load get_option_type_name %}

{% block content %}
    <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-primary">DHCP host details</h6>
                    </div>
                    <div class="card-body">
                        <!-- Name -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.address.id_for_label }}" class="col-form-label">{{ form.name.label }}</label>
                            </div>
                            <div class="col">{{ form.name }}</div>
                            <div class="col">{{ form.name.errors }}</div>
                        </div>
                        <!-- Description -->
                        <div class="row row-item-textarea">
                            <div class="col-sm-2">
                                <label for="{{ form.description.id_for_label }}" class="col-form-label">{{ form.description.label }}</label>
                            </div>
                            <div class="col col-textarea">{{ form.description }}</div>
                            <div class="col">{{ form.description.errors }}</div>
                        </div>
                        <!-- MAC address -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.mac_address.id_for_label }}" class="col-form-label">{{ form.mac_address.label }}</label>
                            </div>
                            <div class="col">{{ form.mac_address }}</div>
                            <div class="col">{{ form.mac_address.errors }}</div>
                        </div>
                        <!-- Address -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.address.id_for_label }}" class="col-form-label">{{ form.address.label }}</label>
                            </div>
                            <div class="col">{{ form.address }}</div>
                            <div class="col">{{ form.address.errors }}</div>
                        </div>
                        <!-- Hostname -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.hostname.id_for_label }}" class="col-form-label">{{ form.hostname.label }}</label>
                            </div>
                            <div class="col">{{ form.hostname }}</div>
                            <div class="col">{{ form.hostname.errors }}</div>
                        </div>
                        <!-- Lease time -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.lease_time.id_for_label }}" class="col-form-label">{{ form.lease_time.label }}</label>
                            </div>
                            <div class="col">{{ form.lease_time }}</div>
                            <div class="col">{{ form.lease_time.errors }}</div>
                        </div>
                        <!-- Tag -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.tag.id_for_label }}" class="col-form-label">{{ form.tag.label }}</label>
                            </div>
                            <div class="col">
                                {{ form.tag }}
  {% if mode == easy_setup %}
                {% url 'website.easy_setup.dhcp.tags.create' as url_create %}
  {% else %}
                {% url 'website.dhcp.tags.create' as url_create %}
  {% endif %}
                                <a href="{{ url_create }}" class="btn btn-primary btn-sm">
                                    <i class="fas fa-fw fa-plus"></i>
                                    Create new Tag
                                </a>
                            </div>
                            <div class="col">{{ form.tag.errors }}</div>
                        </div>
                        <!-- Order -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.order.id_for_label }}" class="col-form-label">{{ form.order.label }}</label>
                            </div>
                            <div class="col">{{ form.order }}</div>
                            <div class="col">{{ form.order.errors }}</div>
                        </div>
                        <!-- Ignored -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.ignored.id_for_label }}" class="col-form-label">{{ form.ignored.label }}</label>
                            </div>
                            <div class="col">{{ form.ignored }}</div>
                            <div class="col">{{ form.ignored.errors }}</div>
                        </div>
                        <!-- Active status -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.is_active.id_for_label }}" class="col-form-label">{{ form.is_active.label }}</label>
                            </div>
                            <div class="col">{{ form.is_active }}</div>
                            <div class="col">{{ form.is_active.errors }}</div>
                        </div>
                    </div>
  {% if mode == easy_setup and object.tag %}
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-primary">Related options
                            <a href="{% url 'website.easy_setup.dhcp.options.create' tag=object.id %}" class="btn btn-primary btn-sm float-right">
                                <i class="fas fa-fw fa-plus"></i>
                                Create new DHCP option
                            </a>
                        </h6>
                    </div>
                    <div class="card-body">
    {% for item in object.tag.dhcpoption_set.all %}
                        <div class="row row-item-label">
                            <div class="col-sm-2">DHCP Option {{ forloop.counter }}</div>
                            <div class="col-sm-2">
                                <label class="col-form-label">
                                    <a href="{% url 'website.easy_setup.dhcp.options.detail' pk=item.id %}">{{ item.option }}</a>
                                </label>
                            </div>
                            <div class="col-sm-2">
                                {{ item.option.type | get_option_type_name }}
                            </div>
                            <div class="col-sm">
                                {{ item.description }}
                            </div>
                            <div class="col-enable-disable">
      {% if item.is_active %}
                                <a href="{% url 'website.easy_setup.dhcp.option_ipv4.disable' pk=item.pk %}" class="btn btn-danger button-disable">Disable</a>
      {% else %}
                                <a href="{% url 'website.easy_setup.dhcp.option_ipv4.enable' pk=item.pk %}" class="btn btn-success button-enable">Enable</a>
      {% endif %}
                            </div>
                            <div class="col-order">
                                <div class="item-order bg-gradient-primary text-white">{{ item.order }}</div>
                            </div>
                        </div>
      {% if not forloop.last %}
                        <hr />
      {% endif %}
    {% endfor %}
                    </div>
  {% endif %}
                </div>
  {% if mode == easy_setup %}
                {% url 'website.easy_setup.dhcp.hosts.list' as url_cancel %}
                {% url 'website.easy_setup.dhcp.hosts.delete' pk=object.pk as url_delete %}
  {% else %}
                {% url 'website.dhcp.hosts.list' as url_cancel %}
                {% url 'website.dhcp.hosts.delete' pk=object.pk as url_delete %}
  {% endif %}
                {% include 'website/includes/crud/toolbar_detail.html' %}
            </form>
        </div>
    </div>
{% endblock %}