{% extends 'website/includes/crud/records_list_detail.html' %}

{% block column_first %}
                            <span class="fas fa-fw {% if not item.ignored %}fa-check{% else %}fa-ban{% endif %}"></span>
  {% if mode == easy_setup %}
    {% url 'website.easy_setup.dhcp.hosts.detail' pk=item.pk as url_detail %}
  {% else %}
    {% url 'website.dhcp.hosts.detail' pk=item.pk as url_detail %}
  {% endif %}
                            <strong><a href="{{ url_detail }}">{{ item.name }}</a></strong>
{% endblock %}

{% block column_middle %}
                        <div class="col-sm-10-percent">
                            {{ item.mac_address }}
                        </div>
                        <div class="col-sm-10-percent">
                            {{ item.address | default_if_none:'' }}
                        </div>
                        <div class="col-sm-2">
  {% if item.tag %}
    {% if mode == easy_setup %}
      {% url 'website.easy_setup.dhcp.tags.detail' pk=item.tag_id as url_detail %}
    {% else %}
      {% url 'website.dhcp.hosts.detail' pk=item.tag_id as url_detail %}
    {% endif %}
                            <a href="{{ url_detail }}">{{ item.tag.name }}</a>
  {% elif item.mac_address != MAC_ADDRESS_ZERO %}
                            <a href="{% url 'website.easy_setup.dhcp.tags.create' %}" class="btn btn-primary btn-sm">
                                <i class="fas fa-fw fa-plus"></i>
                                Create new DHCP tag
                            </a>
  {% endif %}
                        </div>
{% endblock %}
