{% extends 'website/includes/crud/records_list_detail.html' %}
{% load tz %}

{% block column_first %}
  {% with item.get_host_for_mac_address as host %}
    {% if host %}
                            <a href="{% url 'website.dhcp.hosts.detail' pk=host.id %}"><strong>{{ item.address }}</strong></a>
    {% else %}
                            <strong>{{ item.address }}</strong>
    {% endif %}
  {% endwith %}
{% endblock %}

{% block column_middle %}
  {% with item.get_host_for_mac_address as host %}
                        <div class="col-leases-mac_address">
      {% if host %}
                            <a href="{% url 'website.dhcp.hosts.detail' pk=host.id %}"><strong>{{ item.mac_address }}</strong></a>
      {% else %}
                            <strong>{{ item.mac_address }}</strong>
      {% endif %}
                        </div>
                        <div class="col-leases-host">
      {% if host %}
                          <a href="{% url 'website.dhcp.hosts.detail' pk=host.id %}"><strong>{{ host.name }}</strong></a>
      {% else %}
                          -
      {% endif %}
                        </div>
                        <div class="col-leases-expiration-date">
                            {{ item.expiration_date | date:'Y-m-d H:i.s T'}}
                        </div>
                        <div class="col-leases-expiration">
    {% if item.expire_difference %}
                            {{ item.expire_difference }}
    {% else %}
                            Expired
    {% endif %}
                        </div>
  {% endwith %}
{% endblock %}

{% block column_enable_disable %}
                        <div class="col-enable-disable">
                            <a href="{% url 'website.tools.leases.delete' address=item.address mac_address=item.mac_address %}"
                               class="btn btn-danger button-disable">Remove</a>
                            <a href="{% url 'website.tools.leases.expire' address=item.address %}"
                               class="btn btn-danger button-disable">Expire</a>
                        </div>
{% endblock %}
