{% extends 'website/base/base_admin.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">DHCP option IPv4 address details</h6>
                </div>
                <div class="card-body">
                    <!-- Option -->
                    <div class="row row-item-label">
                        <div class="col-sm-2 col-form-label">Option</div>
                        <div class="col">{{ object.option }}</div>
                    </div>
                    <!-- Address -->
                    <div class="row row-item-label">
                        <div class="col-sm-2 col-form-label">Address</div>
                        <div class="col">{{ object.address }}</div>
                    </div>
                </div>
            </div>
            {% url 'website.dhcp.option_ipv4.detail' pk=object.pk as url_cancel %}
            {% include 'website/includes/crud/toolbar_delete.html' %}
        </div>
    </div>
{% endblock %}