{% extends 'website/includes/crud/records_list_detail.html' %}

{% block column_order %}
  {% if item.option.tag.order is not None %}
                        <div class="col-xs bg-gradient-primary text-white"><strong>&nbsp;{{ item.option.tag.order }}&nbsp;</strong></div>
                        &nbsp;&gt;&nbsp;
                        <div class="col-xs bg-gradient-primary text-white"><strong>&nbsp;{{ item.order }}&nbsp;</strong></div>
  {% endif %}
{% endblock %}

{% block column_first %}
                            <strong><a href="{% url 'website.dhcp_option_ipv4.detail' pk=item.pk %}">{{ item.option }}</a></strong>
{% endblock %}

{% block column_last %}
                            {{ item.address }}
{% endblock %}
