        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-{{ tint }} shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
{% if items %}
                            <div class="font-weight-bold mb-1">
                                <a class="text-{{ tint }} text-uppercase" href="{{ url }}">{{ title }}</a></div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                <a class="text-{{ tint }}" href="{{ url }}">
                                    {{ items.0|length }} ({{ items.1|length }} enabled / {{ items.2|length }} disabled)</a></div>
{% else %}
                            <div class="h5 font-weight-bold mb-1">
                                <a class="text-{{ tint }} text-uppercase" href="{{ url }}">{{ title }}</a></div>
{% endif %}
                        </div>
                        <div class="col-auto">
                            <a href="{{ url }}"><i class="fas {{ icon }} fa-2x text-gray-300"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
