{% extends 'website/base/base_admin.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Personal information</h6>
                </div>
                <div class="card-body">
                    <!-- Username -->
                    <div class="row row-item-label">
                        <div class="col-sm-2 col-form-label">Username</div>
                        <div class="col">{{ object.username }}</div>
                    </div>
                    <!-- First name -->
                    <div class="row row-item-label">
                        <div class="col-sm-2 col-form-label">First name</div>
                        <div class="col">{{ object.first_name }}</div>
                    </div>
                    <!-- Last name -->
                    <div class="row row-item-label">
                        <div class="col-sm-2 col-form-label">Last name</div>
                        <div class="col">{{ object.last_name }}</div>
                    </div>
                </div>
            </div>
            {% url 'website.users.detail' pk=object.pk as url_cancel %}
            {% include 'website/includes/crud/toolbar_delete.html' %}
        </div>
    </div>
{% endblock %}