{% extends 'website/base/base_admin.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-primary">Personal information</h6>
                    </div>
                    <div class="card-body">
                        <!-- Username -->
                        <div class="row">
{% if not form.username %}
                            <div class="col col-sm-2">
                                <div class="col-form-label">Username</div>
                            </div>
                            <div class="col col-sm-2">{{ object.username }}</div>
{% else %}
                            <div class="col col-sm-2">
                                <label for="{{ form.username.id_for_label }}" class="col-form-label">{{ form.username.label }}</label>
                            </div>
                            <div class="col col-sm-2">{{ form.username }}</div>
                            <div class="col col-sm">{{ form.username.errors }}</div>
{% endif %}
                        </div>
                        <!-- First name -->
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="{{ form.first_name.id_for_label }}" class="col-form-label">{{ form.first_name.label }}</label>
                            </div>
                            <div class="col col-sm-2">{{ form.first_name }}</div>
                            <div class="col col-sm">{{ form.first_name.errors }}</div>
                        </div>
                        <!-- Last name -->
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="{{ form.last_name.id_for_label }}" class="col-form-label">{{ form.last_name.label }}</label>
                            </div>
                            <div class="col col-sm-2">{{ form.last_name }}</div>
                            <div class="col col-sm">{{ form.last_name.errors }}</div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-primary">Special permissions</h6>
                    </div>
                    <div class="card-body">
                        <!-- Active status -->
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="{{ form.is_active.id_for_label }}" class="col-form-label">{{ form.is_active.label }}</label>
                            </div>
                            <div class="col col-sm-2">{{ form.is_active }}</div>
                            <div class="col col-sm-2">{{ form.is_active.errors }}</div>
                        </div>
                        <!-- Staff status -->
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="{{ form.is_staff.id_for_label }}" class="col-form-label">{{ form.is_staff.label }}</label>
                            </div>
                            <div class="col col-sm-2">{{ form.is_staff }}</div>
                            <div class="col col-sm-2">{{ form.is_staff.errors }}</div>
                        </div>
                        <!-- Superuser status -->
                        <div class="row">
                            <div class="col col-sm-2">
                                <label for="{{ form.is_superuser.id_for_label }}" class="col-form-label">{{ form.is_superuser.label }}</label>
                            </div>
                            <div class="col col-sm-2">{{ form.is_superuser }}</div>
                            <div class="col col-sm-2">{{ form.is_superuser.errors }}</div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-primary">Actions</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!-- Cancel button -->
                            <div class="col col-sm-2">
                                <a href="{% url 'website.users.list' %}" class="btn btn-secondary col-sm" >Cancel</a>
                            </div>
                            <!-- Save button -->
                            <div class="col col-sm-2">
                                <input class="btn btn-primary col-sm" type="submit" value="Save">
                            </div>
{% if object.pk %}
                            <!-- Password button -->
                            <div class="col col-sm-2">
                                <a href="{% url 'website.users.password' pk=object.pk %}" class="btn btn-success col-sm">Set password</a>
                            </div>
                            <!-- Delete button -->
                            <div class="col col-sm-2">
                                <a href="{% url 'website.users.delete' pk=object.pk %}" class="btn btn-danger col-sm">Delete</a>
                            </div>
{% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}