{% extends 'website/base/base_admin.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-primary">Personal information</h6>
                    </div>
                    <div class="card-body">
                        <!-- Username -->
                        <div class="row row-item-field">
{% if not form.username %}
                            <div class="col-sm-2">
                                <div class="col-form-label">Username</div>
                            </div>
                            <div class="col">{{ object.username }}</div>
{% else %}
                            <div class="col-sm-2">
                                <label for="{{ form.username.id_for_label }}" class="col-form-label">{{ form.username.label }}</label>
                            </div>
                            <div class="col">{{ form.username }}</div>
                            <div class="col">{{ form.username.errors }}</div>
{% endif %}
                        </div>
                        <!-- First name -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.first_name.id_for_label }}" class="col-form-label">{{ form.first_name.label }}</label>
                            </div>
                            <div class="col">{{ form.first_name }}</div>
                            <div class="col">{{ form.first_name.errors }}</div>
                        </div>
                        <!-- Last name -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.last_name.id_for_label }}" class="col-form-label">{{ form.last_name.label }}</label>
                            </div>
                            <div class="col">{{ form.last_name }}</div>
                            <div class="col">{{ form.last_name.errors }}</div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-primary">Special permissions</h6>
                    </div>
                    <div class="card-body">
                        <!-- Active status -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.is_active.id_for_label }}" class="col-form-label">{{ form.is_active.label }}</label>
                            </div>
                            <div class="col">{{ form.is_active }}</div>
                            <div class="col">{{ form.is_active.errors }}</div>
                        </div>
                        <!-- Staff status -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.is_staff.id_for_label }}" class="col-form-label">{{ form.is_staff.label }}</label>
                            </div>
                            <div class="col">{{ form.is_staff }}</div>
                            <div class="col">{{ form.is_staff.errors }}</div>
                        </div>
                        <!-- Superuser status -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.is_superuser.id_for_label }}" class="col-form-label">{{ form.is_superuser.label }}</label>
                            </div>
                            <div class="col">{{ form.is_superuser }}</div>
                            <div class="col">{{ form.is_superuser.errors }}</div>
                        </div>
                    </div>
                </div>
                {% url 'website.users.list' as destination_url_cancel %}
                {% url 'website.users.delete' pk=object.pk as destination_url_delete %}
                {% include 'website/includes/crud/toolbar_detail_user.html' with url_cancel=destination_url_cancel url_delete=destination_url_delete pk=object.pk %}
            </form>
        </div>
    </div>
{% endblock %}
