{% extends 'website/base/base_admin.html' %}
{% load static %}
{% load assign %}

{% block content %}
    <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-primary">Password change</h6>
                    </div>
                    <div class="card-body">
                        <!-- Username -->
                        <div class="row row-item-label">
                            <div class="col-sm-2">
                                <div class="col-form-label">Username</div>
                            </div>
                            <div class="col">{{ object.username }}</div>
                        </div>
                        <!-- Password -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.new_password.id_for_label }}" class="col-form-label">{{ form.new_password.label }}</label>
                            </div>
                            <div class="col">{{ form.new_password }}</div>
                            <div class="col">{{ form.new_password.errors }}</div>
                        </div>
                        <!-- Password confirmation -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.new_password_confirm.id_for_label }}" class="col-form-label">{{ form.new_password_confirm.label }}</label>
                            </div>
                            <div class="col">{{ form.new_password_confirm }}</div>
                            <div class="col">{{ form.new_password_confirm.errors }}</div>
                        </div>
                    </div>
                </div>
                {% url 'website.users.detail' pk=object.pk as url_cancel %}
                {% assign None as url_delete %}
                {% include 'website/includes/crud/toolbar_detail.html' %}
            </form>
        </div>
    </div>
{% endblock %}