{% extends 'website/base/base_admin.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-primary">Password change</h6>
                    </div>
                    <div class="card-body">
                        <!-- Username -->
                        <div class="row row-item-label">
                            <div class="col-sm-2">
                                <div class="col-form-label">Username</div>
                            </div>
                            <div class="col-sm-2">{{ object.username }}</div>
                        </div>
                        <!-- Password -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.new_password.id_for_label }}" class="col-form-label">{{ form.new_password.label }}</label>
                            </div>
                            <div class="col-sm-2">{{ form.new_password }}</div>
                            <div class="col-sm">{{ form.new_password.errors }}</div>
                        </div>
                        <!-- Password confirmation -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.new_password_confirm.id_for_label }}" class="col-form-label">{{ form.new_password_confirm.label }}</label>
                            </div>
                            <div class="col-sm-2">{{ form.new_password_confirm }}</div>
                            <div class="col-sm">{{ form.new_password_confirm.errors }}</div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <!-- Cancel button -->
                            <div class="col-sm-2">
                                <a href="{% url 'website.users.detail' pk=object.pk %}" class="btn btn-secondary col-sm">Cancel</a>
                            </div>
                            <!-- Save button -->
                            <div class="col-sm-2">
                                <input class="btn btn-primary col-sm" type="submit" value="Save">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}