{% extends 'website/base/base_admin.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-primary">Action details</h6>
                    </div>
                    <div class="card-body">
                        <!-- Name -->
                        <div class="row">
                            <div class="col-sm-2">
                                <label for="{{ form.name.id_for_label }}" class="col-form-label">{{ form.name.label }}</label>
                            </div>
                            <div class="col-sm-2">{{ form.name }}</div>
                            <div class="col-sm">{{ form.name.errors }}</div>
                        </div>
                        <!-- Description -->
                        <div class="row mb-2">
                            <div class="col-sm-2">
                                <label for="{{ form.description.id_for_label }}" class="col-form-label">{{ form.description.label }}</label>
                            </div>
                            <div class="col-sm-2">{{ form.description }}</div>
                            <div class="col-sm">{{ form.description.errors }}</div>
                        </div>
                        <!-- Action -->
                        <div class="row">
                            <div class="col-sm-2">
                                <label for="{{ form.action.id_for_label }}" class="col-form-label">{{ form.action.label }}</label>
                            </div>
                            <div class="col-sm-2">{{ form.action }}</div>
                            <div class="col-sm">{{ form.action.errors }}</div>
                        </div>
                        <!-- Order -->
                        <div class="row">
                            <div class="col-sm-2">
                                <label for="{{ form.order.id_for_label }}" class="col-form-label">{{ form.order.label }}</label>
                            </div>
                            <div class="col-sm-2">{{ form.order }}</div>
                            <div class="col-sm">{{ form.order.errors }}</div>
                        </div>
                        <!-- Active status -->
                        <div class="row">
                            <div class="col-sm-2">
                                <label for="{{ form.is_active.id_for_label }}" class="col-form-label">{{ form.is_active.label }}</label>
                            </div>
                            <div class="col-sm-2">{{ form.is_active }}</div>
                            <div class="col-sm">{{ form.is_active.errors }}</div>
                        </div>
                    </div>
                </div>
                {% url 'website.actions.list' as destination_url_cancel %}
                {% url 'website.actions.delete' pk=object.pk as destination_url_delete %}
                {% include 'website/includes/crud/toolbar_detail.html' with url_cancel=destination_url_cancel url_delete=destination_url_delete %}
            </form>
        </div>
    </div>
{% endblock %}