{% extends 'website/base/base_admin.html' %}
{% load static %}

{% block content %}
    <!-- Create new action -->
    <div class="mb-4">
        <a class="btn btn-primary" href="{% url 'website.actions.create' %}">Create new action</a>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Active Actions</h6>
                </div>
                <div class="card-body">
  {% for item in object_list %}
    {% if item.status %}
      {% include 'website/includes/actions/actions_list_detail.html' with item=item %}
    {% endif %}
  {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Inactive Actions</h6>
                </div>
                <div class="card-body">
  {% for item in object_list %}
    {% if not item.status %}
      {% include 'website/includes/actions/actions_list_detail.html' with item=item %}
    {% endif %}
  {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}