                    <div class="row">
                        <div class="col-sm-3">
                            <span class="fas fa-fw {% if item.is_superuser %}fa-star{% else %}fa-user{% endif %}"></span>
                            <strong><a href="{% url 'website.users.detail' pk=item.pk %}">{{ item.username }}</a></strong>
                        </div>
                        <div class="col-sm">{{ item.first_name }} {{ item.last_name }}</div>
                    </div>
                    <hr />