{% extends 'website/base/base_admin.html' %}
{% load static %}
{% load assign %}

{% block content %}
    <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-primary">Options</h6>
                    </div>
                    <div class="card-body">
                        <!-- Options -->
                        <div class="row">
                            <div class="col-sm-2">
                                <label for="{{ form.include_descriptions.id_for_label }}" class="col-form-label">{{ form.include_descriptions.label }}</label>
                            </div>
                            <div class="col-sm-2">{{ form.include_descriptions }}</div>
                            <div class="col-sm">{{ form.include_descriptions.errors }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <label for="{{ form.show_disabled.id_for_label }}" class="col-form-label">{{ form.show_disabled.label }}</label>
                            </div>
                            <div class="col-sm-2">{{ form.show_disabled }}</div>
                            <div class="col-sm">{{ form.show_disabled.errors }}</div>
                        </div>
                    </div>
                </div>
                {% assign None as url_cancel %}
                {% assign None as url_delete %}
                {% include 'website/includes/crud/toolbar_detail.html' %}
            </form>
        </div>
    </div>
    {% if results %}
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Results</h6>
                </div>
                <div class="card-body">
                    <!-- Results -->
                    <div class="row">
                        <div class="col-sm">
                            <textarea class="form-control text-monospace" rows="10" readonly>{{ results }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
