{% extends 'website/base/base_admin.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">DHCP range details</h6>
                </div>
                <div class="card-body">
                    <!-- Address -->
                    <div class="row row-item-label">
                        <div class="col-sm-2 col-form-label">Name</div>
                        <div class="col">{{ object.name }}</div>
                    </div>
                    <!-- Description -->
                    <div class="row row-item-label">
                        <div class="col-sm-2 col-form-label">Description</div>
                        <div class="col">{{ object.description }}</div>
                    </div>
                    <!-- Starting IP address -->
                    <div class="row row-item-label">
                        <div class="col-sm-2 col-form-label">Starting IP address</div>
                        <div class="col">{{ object.starting_ip }}</div>
                    </div>
                    <!-- Ending IP address -->
                    <div class="row row-item-label">
                        <div class="col-sm-2 col-form-label">Ending IP address</div>
                        <div class="col">{{ object.ending_ip }}</div>
                    </div>
                </div>
            </div>
            {% url 'website.dhcp.ranges.detail' pk=object.pk as destination_url %}
            {% include 'website/includes/crud/toolbar_delete.html' with url=destination_url %}
        </div>
    </div>
{% endblock %}