{% extends 'website/base/base_admin.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Domain details</h6>
                </div>
                <div class="card-body">
                    <!-- Name -->
                    <div class="row row-item-label">
                        <div class="col-sm-2 col-form-label">Name</div>
                        <div class="col-sm-2">{{ object.name }}</div>
                    </div>
                    <!-- Description -->
                    <div class="row row-item-label">
                        <div class="col-sm-2 col-form-label">Description</div>
                        <div class="col-sm-2">{{ object.description }}</div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Subnet details</h6>
                </div>
                <div class="card-body">
                    <!-- Subnet IP -->
                    <div class="row row-item-label">
                        <div class="col-sm-2 col-form-label">Subnet IP</div>
                        <div class="col-sm-2">{{ object.subnet_ip|default_if_none:'' }}</div>
                    </div>
                    <!-- Subnet CIDR -->
                    <div class="row row-item-label">
                        <div class="col-sm-2 col-form-label">Subnet CIDR</div>
                        <div class="col-sm-2">{{ object.subnet_cidr }}</div>
                    </div>
                    <!-- Starting IP -->
                    <div class="row row-item-label">
                        <div class="col-sm-2 col-form-label">Starting IP</div>
                        <div class="col-sm-2">{{ object.starting_ip|default_if_none:'' }}</div>
                    </div>
                    <!-- Ending IP -->
                    <div class="row row-item-label">
                        <div class="col-sm-2 col-form-label">Ending IP</div>
                        <div class="col-sm-2">{{ object.ending_ip|default_if_none:'' }}</div>
                    </div>
                </div>
            </div>
            {% url 'website.domains.detail' pk=object.pk as destination_url %}
            {% include 'website/includes/crud/toolbar_delete.html' with url=destination_url %}
        </div>
    </div>
{% endblock %}