{% extends 'website/base/base_admin.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="card mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-primary">Interface details</h6>
                    </div>
                    <div class="card-body">
                        <!-- Name -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.name.id_for_label }}" class="col-form-label">{{ form.name.label }}</label>
                            </div>
                            <div class="col">{{ form.name }}</div>
                            <div class="col">{{ form.name.errors }}</div>
                        </div>
                        <!-- Description -->
                        <div class="row row-item-textarea">
                            <div class="col-sm-2">
                                <label for="{{ form.description.id_for_label }}" class="col-form-label">{{ form.description.label }}</label>
                            </div>
                            <div class="col col-textarea">{{ form.description }}</div>
                            <div class="col">{{ form.description.errors }}</div>
                        </div>
                        <!-- Order -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.order.id_for_label }}" class="col-form-label">{{ form.order.label }}</label>
                            </div>
                            <div class="col">{{ form.order }}</div>
                            <div class="col">{{ form.order.errors }}</div>
                        </div>
                        <!-- Active status -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.is_active.id_for_label }}" class="col-form-label">{{ form.is_active.label }}</label>
                            </div>
                            <div class="col">{{ form.is_active }}</div>
                            <div class="col">{{ form.is_active.errors }}</div>
                        </div>
                        <!-- Excluded -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.excluded.id_for_label }}" class="col-form-label">{{ form.excluded.label }}</label>
                            </div>
                            <div class="col">{{ form.excluded }}</div>
                            <div class="col">{{ form.excluded.errors }}</div>
                        </div>
                        <!-- Disabled for DHCP -->
                        <div class="row row-item-field">
                            <div class="col-sm-2">
                                <label for="{{ form.disable_dhcp.id_for_label }}" class="col-form-label">{{ form.disable_dhcp.label }}</label>
                            </div>
                            <div class="col">{{ form.disable_dhcp }}</div>
                            <div class="col">{{ form.disable_dhcp.errors }}</div>
                        </div>
                    </div>
                </div>
                {% url 'website.interfaces.list' as url_cancel %}
                {% url 'website.interfaces.delete' pk=object.pk as url_delete %}
                {% include 'website/includes/crud/toolbar_detail.html' %}
            </form>
        </div>
    </div>
{% endblock %}