    <div class="mb-4">
        <a class="btn btn-primary" href="{{ create_url }}">Create new {{ title }}</a>
    </div>

  {% if object_enabled_list %}
    <div class="row">
        <div class="col">
            <div class="card shadow mb-4 border-left-success">
                <div class="card-header">
                    <div class="row">
                        <h4 class="col-sm m-0 font-weight-bold text-primary">Active</h4>
                    </div>
                </div>
                <div class="card-body">
    {% for item in object_enabled_list %}
      {% include list_detail_include with item=item last=forloop.last %}
    {% endfor %}
                </div>
            </div>
        </div>
    </div>
  {% endif %}

  {% if object_enabled_list and object_disabled_list %}
    <hr />
  {% endif %}

  {% if object_disabled_list %}
    <div class="row">
        <div class="col">
            <div class="card shadow mb-4 border-left-danger">
                <div class="card-header">
                    <div class="row">
                        <h4 class="col-sm m-0 font-weight-bold text-primary">Inactive</h4>
                    </div>
                </div>
                <div class="card-body">
    {% for item in object_disabled_list %}
      {% include list_detail_include with item=item last=forloop.last %}
    {% endfor %}
                </div>
            </div>
        </div>
    </div>
  {% endif %}
